# Ignore everything by default
*

# Don't ignore directories
!*/

# Include specific files by extension
!/*.gitignore
!/*.md
!/*.toml
!/src/*.rs
!/src/*.rs
!/src/pipeline/*.rs
!/src/stages/*.rs
!/src/features/*.rs
!/res/posts/*.md
!/res/pages/*.md
!/res/css/*.css
!/res/assets/*.jpg
!/res/meta/*.ico
!/res/meta/*.png
!/res/meta/*.webmanifest
!/res/*.toml
!/res/patches/*.patch
