.dark-theme{
    --color-page-background: #212121;
    --color-text: #ffffff;
    --color-link: #023978;
    --color-quote-bar: #dddddd;
    --color-quote-text: #1c1c1c;
    --color-text-heading: rgba(255, 255, 255, 0.7);
    --color-text-footer: #ff0000;
    --color-tag-text: #111111;
    --color-tag-border: #111111;
    --color-accent: #dddddd;
}

.light-theme{
    --color-page-background: #ffffff;
    --color-text: #000000;
    --color-link: #023978;
    --color-quote-bar: #dddddd;
    --color-quote-text: #1c1c1c;
    --color-text-heading: #111111;
    --color-text-footer: #111111;
    --color-tag-text: #000000;
    --color-tag-border: #000000;
    --color-tag-background: #ffffff;
    --color-tag-hover-background: #f4f4f4;
    --color-tag-hover-text: #023978;
    --color-table-header: #f4f4f4;
    --color-separator-line: #dddddd;
}
